@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

@import "tailwindcss";
@plugin "daisyui";

html {
  background: white;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Cal Sans", sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
}

.neo-brutalist {
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #000;
  transition: all 0.2s ease;
  border-radius: 4px;
}
.neo-brutalist:hover {
  box-shadow: 6px 6px 0 #000;
  transform: translate(4px, 4px);
}